
<%= form_for(@answer) do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <%= render partial: "checkbox", locals: {form: f, field_name: :chocolate}%>
      <%= render partial: "checkbox", locals: {form: f, field_name: :rainbows}%>
      <%= render partial: "checkbox", locals: {form: f, field_name: :puppies}%>
      <%= render partial: "checkbox", locals: {form: f, field_name: :cold_hard_cash}%>

    </li>
    </ul>
  </div>
  <%= f.submit %>
<% end %>
